In [1]:
import pandas as pd

In [11]:
tour = pd.read_excel(r'/Users/dhruvnovaims/Downloads/TaJjsIZrdXQbLEPrbL_IitNCRA3507s1FJgCt3hB_78662.xls', skiprows=10)
tour = tour.loc[:, ~tour.columns.str.startswith('Unnamed')]

In [15]:
melted_df = pd.melt(tour, 
                    id_vars=['geoname', 'geocode'], 
                    var_name='date', 
                    value_name='value')

In [17]:
melted_df['date'] = pd.to_datetime(melted_df['date'], format='%B %Y')

In [18]:
melted_df

                 geoname  geocode       date      value
0               Portugal       PT 2024-07-01  3208199.0
1             Continente        1 2024-07-01  2894736.0
2                  Norte       11 2024-07-01   726699.0
3             Alto Minho      111 2024-07-01    59655.0
4      Arcos de Valdevez  1111601 2024-07-01     5524.0
...                  ...      ...        ...        ...
18915        Porto Santo  3003201 2020-01-01     1923.0
18916      Ribeira Brava  3003107 2020-01-01      584.0
18917         Santa Cruz  3003108 2020-01-01     9973.0
18918            Santana  3003109 2020-01-01      666.0
18919        São Vicente  3003110 2020-01-01     1466.0

[18920 rows x 4 columns]